@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.container{
  width: 60%;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 15px;
}
h1{
  text-align: center;
  color:  #D2BEB4;
  font-weight: bolder;

}
.frame{
  border:  #D2BEB4;
  border-style:solid;
  border-radius: 20px;

}
.row{
  padding: 20px;
  align-content: space-between;

}
.col-sm-6{
  color: #686361
}

button {
  position:relative;
  left: 45%;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  /* color: #686361; */
  border: thin ;
  /* transform: translateX(-50%); */
}
.stroked-button-1{
  border-color:#686361;

}
.stroked-button-2{
  background-color: #D2BEB4;
  color: #ffffff;
}
select{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: #686361;
}
mat-label, mat-option {
  font-family: Quicksand;
  border: #686361;
}
