<div class="container">
  <h1>THÔNG TIN QUẢN TRỊ VIÊN</h1>
  <div class="frame">
    <div class="row">
      <img src="" alt="">
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">ID:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">{{user ? user._id : ''}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Họ tên:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.adminname"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Tên đăng nhập:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.AccountName"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Ngày sinh:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.DOB"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Giới tính:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.Gender"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Email:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.Email"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Số điện thoại:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6"><input type="text" [(ngModel)]="user.Phone"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">Quyền hạn:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <!-- <form action="">
          <select class="form-select" name="Quyền hạn">
              <option value=""></option>
              <option value="">Nhân viên</option>
              <option value="">Quản lý trưởng</option>
              <option value="">Nhân viên trực chat</option>
          </select>
        </form> -->
        <mat-form-field appearance="fill">
          <mat-label>Quyền hạn</mat-label>
          <mat-select [(ngModel)]="selectedRole" (ngModelChange)="changeRole()">
            <mat-option *ngFor="let quyenHan of qh" [value]="quyenHan">{{quyenHan}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <button class="stroked-button-1" routerLink="/admin-list">Back</button>
      </div>
      <div class="col-sm-1">
        <button (click)="update()" class="stroked-button-2">Save</button>
        <div class="col-sm-5"></div>
      </div>

    </div>
  </div>
</div>
