
<div class="container w-100" style="padding-top: 30px"  >
  <div class=" title--themsp" >
    <mat-icon >add</mat-icon>
   Thêm chương trình khuyến mãi
    </div>
    <div  class="table-container" style=" padding-right: 40px; margin-top: 30px;">
    <table class="table table-hover "  >
    <thead>
    <tr >
    <th style="border-top-left-radius: 10px;  word-wrap: break-word; max-width: 100px;">Thuộc tính</th>
    <th style="border-top-right-radius: 10px; text-align: center;  padding-right: 20px; max-width: 280px;">Nội dung</th>
    </tr>
    </thead>
    <tbody>


    <tr>
      <td style="text-align: left; padding-left: 20px; font-weight: bold; width: 250px;">Tên chương trình</td>
      <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
        <textarea #subject="ngModel"  [(ngModel)]="promotion.TenPromotion" style=" width: 99%; height: 100px;"></textarea>
      </td>
    </tr>



    <tr>
      <td style="text-align: left; padding-left: 20px; font-weight: bold;">Loại khuyến mãi</td>
      <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
        <select type="text" class="input_border"  #subject="ngModel"   [(ngModel)]="promotion.LoaiPromotion">
          <option value="" disabled selected >-- Chọn Loại khuyến mãi --</option>
          <option *ngFor="let t of types" >{{t}}</option>
        </select>
      </td>
    </tr>


    <tr>
      <td style="text-align: left; padding-left: 20px; font-weight: bold;">Loại khuyến mãi</td>
      <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
        <select type="text" class="input_border"  #subject="ngModel"   [(ngModel)]="promotion.LoaiPromotion">
          <option value="" disabled selected >-- Chọn Loại khuyến mãi --</option>
          <option *ngFor="let t of types" >{{t}}</option>
        </select>
      </td>
    </tr>
<!-- -------------chua lam-------- -->
    <tr>
      <td style="text-align: left; padding-left: 20px; font-weight: bold;">Loại sản phẩm áp dụng</td>
      <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">

       <input type="text" class="input_border" style=" width: 99%; "   (click)="showTable()" [(ngModel)]="searchProduct" (ngModelChange)="filterProducts()">
       <table *ngIf="displayTable" style=" max-height: 200px; max-width: 100%;
       /* width: 100%; */
       overflow-x: auto;
       overflow-y: auto;

       display: block;
       ">


        <tr style="background-color: #d2beb4;" >
          <td style=" padding-left: 2px; padding-right: 2px;" > <input type="checkbox"> </td>
          <td style="word-wrap: break-word; " >Mã</td>
          <td style="word-wrap: break-word; ">Loại</td>
          <td style="word-wrap: break-word; ">Hình ảnh </td>
          <td style="word-wrap: break-word;" >Tên sản phẩm</td>
          <td style="word-wrap: break-word; " >Giá</td>
        </tr>
        <tr *ngFor="let product of filteredProducts || products" >
          <td style="max-width: 30px; width: 250px; padding-left: 2px; padding-right: 2px;" > <input type="checkbox"> </td>
          <td style="word-wrap: break-word; max-width: 200px;" >{{product.MaSP}}</td>
          <td style="word-wrap: break-word; max-width: 200px;">{{product.LoaiSP}}</td>
          <td style="word-wrap: break-word; max-width: 100px;">

            <div style="display: flex; flex-wrap: wrap; word-wrap: break-word;">

                <img  style=" max-height: 100%; max-width: 100%; text-align: center;" src='{{product.Hinhanh[0]}}' alt="" >


            </div>
          </td>
          <td style="word-wrap: break-word; max-width: 475px;" >{{product.TenSP}}</td>
          <td style="word-wrap: break-word; max-width: 250px;" >{{product.Price.toLocaleString('vi-VN')}}</td>
        </table>

      </td>
    </tr>

        <tr>
          <td style="text-align: left; padding-left: 20px; font-weight: bold;">Mô tả</td>
          <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
            <ckeditor  #subject="ngModel" debounce="500" [(ngModel)]="promotion.Mota" [editor]="Editor"/>
          </td>
        </tr>


          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;">Giá giảm</td>
            <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;padding-left: 10px;">
              <input  type="number" min="0"  #subject="ngModel"   [(ngModel)]="promotion.Gia" style=" width: 99%; " class="input_border">
            </td>
            </tr>


              <tr>
                <td style="text-align: left; padding-left: 20px;font-weight: bold;">Thời gian áp dụng</td>
                <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;padding-left: 10px;">
                  <mat-form-field class="example-form-field " style="max-width: 300px;">
                    <mat-label> Chọn khoảng thời gian </mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Ngày đầu" [(ngModel)]="promotion.Ngaybatdau">
                      <input matEndDate formControlName="end" placeholder="Ngày cuối" [(ngModel)]="promotion.Ngayketthuc">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </td>
                </tr>


    </tbody>
    </table>
    </div>
    <div align="right">
    <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;" (click)="postPromotion()"> <span> <mat-icon>save</mat-icon> </span> <span style="padding-left: 30px;"> Lưu </span></button>
    <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;" (click)="toMainPromotionPage()"  >
      <span> <mat-icon>arrow_back</mat-icon> </span> <span style="padding-left: 30px;"> Về trang chủ chương trình khuyến mãi </span></button>
    </div>
    </div>
