
<div id="header" >
  <div align="center">
    <div  >
      <span class="col title--khuyenmai" >
       Coupon
      </span>
      <input type="text" id="searchCoupon" style="font-size: 2rem;" [(ngModel)]="searchCoupon" (ngModelChange)="filterCoupons()" class="left__search--bar" >
        <!-- <button class="left_button-search" >   <mat-icon class="left_icon-search">search</mat-icon> </button> -->
        <button class="left_button-search" (click)="onClear()" >   <mat-icon class="left_icon-search"> backspace</mat-icon> </button>
</div>
</div>
</div>
<p>{{errMessage}}</p>



<div class="container w-100" style="padding-top: 20px; padding-left: 50px;" align="right">


<div style="padding-top: 20px;">
  <span style="padding-right: 40px;">
    <mat-form-field class="example-form-field " style="max-width: 300px;">
      <mat-label> Chọn khoảng thời gian </mat-label>
      <mat-date-range-input [rangePicker]="picker"  [formGroup]="range" [rangePicker]="picker" >
        <input matStartDate formControlName="start" placeholder="Ngày đầu" (dateChange)="filterDate()">
        <input matEndDate formControlName="end" placeholder="Ngày cuối" (dateChange)="filterDate()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </span>
  <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;" (click)="toNewCouponPage()"  >
    <span> <mat-icon>library_add</mat-icon> </span> <span style="padding-left: 30px;">  Thêm coupon </span>
  </button>
</div>






<!-- ----hien thi all------->
<div class="table-container" style=" padding-right: 40px;">
<table align="right" class="table-hover"  >
<thead>
  <tr >
    <th style="word-wrap: break-word; max-width: 100px;" >Mã coupon</th>
    <th style="word-wrap: break-word; max-width: 45px;"  >Loại coupon</th>
    <th style="word-wrap: break-word; max-width: 55px;">Giá trị giảm</th>
    <th style="word-wrap: break-word; max-width: 35px;" >Số lượng</th>
    <th style="word-wrap: break-word; max-width: 70px; padding: 0;">Nội dung</th>
    <th style="word-wrap: break-word; max-width: 65px;">Thời gian áp dụng</th>
    <th style="word-wrap: break-word; max-width: 40px;">Tùy chỉnh</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let coupon of filteredCoupons || filteredDate || coupons" >
    <td style="word-wrap: break-word; max-width: 75px;" > <b> {{coupon.MaCoupon}} </b><br>
      <div style="flex-basis: 50%; padding: 0;" *ngFor="let image of coupon.Hinhanh; let i = index;">
      <img  style="max-width: 75px; max-height: 60px;" src="{{image}}" alt="">
    </div></td>
    <td style="word-wrap: break-word; max-width: 45px;" > {{coupon.TenCoupon}} </td>
    <td style="word-wrap: break-word; max-width: 55px;"> {{coupon.Giatrigiam.toLocaleString('vi-VN')}} </td>
    <td style="word-wrap: break-word; max-width: 35px;">{{coupon.Soluong}}</td>
    <td style="word-wrap: break-word; max-width: 70px; text-align: center;" >
      <ul style="list-style-type: none; ">
      <li innerHTML={{coupon.Noidung}} ></li>
    </ul> </td>
    <td style="word-wrap: break-word; max-width: 65px;" >
      {{coupon. Ngaybatdau | date : "dd/MM/yyyy"}} - {{coupon.Ngayketthuc | date : "dd/MM/yyyy"}}

    </td>
    <td style="word-wrap: break-word; max-width: 40px;">
      <span style="padding-right: 5px;"  ><mat-icon class="icon" (click)="toUpdateCouponPage(coupon)">edit</mat-icon> </span>
      <span style="padding-right: 5px;"> <mat-icon class="icon" (click)="deleteCoupon(coupon._id)">delete</mat-icon> </span></td>
  </tr>
</tbody>
</table>
</div>
</div>




