<div class="right">
  <div class="header" id="header">
    <div class="row">
      <div class="col-8">
        <div class="col title-header">Kết quả kinh doanh</div>
      </div>
    </div>
  </div>

  <div class="body container">
    <div class="item">
      <div class="title">Orders</div>
      <div class="row">
        <div class="col box">
          <div class="day">TODAY</div>
          <div class="number">{{orderInDay.length}} </div>
          <div class="detail">{{orderInDay.length}}  orders today</div>
        </div>

        <div class="col box">
          <div class="day">THIS WEEK</div>
          <div class="number"> {{orderInWeek.length}} </div>
          <div class="detail"> {{orderInWeek.length}}  orders this week</div>
        </div>

        <div class="col box">
          <div class="day">THIS MONTH</div>
          <div class="number"> {{orderInMonth.length}} </div>
          <div class="detail"> {{orderInMonth.length}}  orders this month</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="title">Revenue</div>
      <div class="row">
        <div class="col box">
          <div class="day">TODAY</div>
          <div class="number">{{totalInDay.toLocaleString('vi-VN')}}đ</div>
        </div>
        <div class="col box">
          <div class="day">THIS WEEK</div>
          <div class="number">{{totalInWeek.toLocaleString('vi-VN')}}đ</div>
        </div>
        <div class="col box">
          <div class="day">THIS MONTH</div>
          <div class="number">{{totalInMonth.toLocaleString('vi-VN')}}đ</div>
        </div>
      </div>
    </div>
  </div>
</div>
