<div class="right">
  <div class="header" id="header">
    <div class="row">
      <div class="col-8">
        <div class="col title-header">Kết quản kinh doanh</div>
      </div>
    </div>
  </div>

  <div class="body container">
    <div class="item">
      <div class="title">Orders</div>
      <div class="row">
        <div class="col box">
          <div class="day">TODAY</div>
          <div class="number">16</div>
          <div class="detail">16 orders today</div>
        </div>

        <div class="col box">
          <div class="day">THIS WEEK</div>
          <div class="number">16</div>
          <div class="detail">16 orders today</div>
        </div>

        <div class="col box">
          <div class="day">THIS MONTH</div>
          <div class="number">16</div>
          <div class="detail">16 orders today</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="title">Revenue</div>
      <div class="row">
        <div class="col box">
          <div class="day">TODAY</div>
          <div class="number">$ 160000</div>
          <div class="detail">16 orders today</div>
        </div>
        <div class="col box">
          <div class="day">THIS WEEK</div>
          <div class="number">$ 160000</div>
          <div class="detail">16 orders today</div>
        </div>
        <div class="col box">
          <div class="day">THIS MONTH</div>
          <div class="number">$ 160000</div>
          <div class="detail">16 orders today</div>
        </div>
      </div>
    </div>
  </div>
</div>
