:root {
  --darkpink: #b8a898;
  --lightpink: #d2beb4;
  --darkbrown: #6B4932;
  --black: black;
  --white: #ffffff;
  --grey:#EDEDED ;
  --darkgrey: #908B8B;
}
*{
  font-size: 1.6rem;
  overflow-x: hidden;
}
a{
  color: var(--black);
  text-decoration: none;
}


.row{
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: var(--darkbrown);
}
.icon__search{
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__search:hover{
  background-color: var(--darkpink);
}
.button__search{
  border: var(--darkbrown) 0,5px solid;
  background-color: #D2BEB4;
}
.button__icon{
  border: var(--darkbrown) 0,5px solid;
  background-color: none;
}
.search{
  background-color: #D2BEB4;
}

#header{
  background-color: white;
  /* position: fixed; */
  padding: 0px 5%;
  top: 0;
  left: 0;
  right:0;
  z-index: 99;
  box-shadow:  0 10px 10px rgba(0, 0, 0, 0.2);
  /* height: 126px; */
  font-family: 'arial', sans-serif;
  position: sticky;
  transition: top .2s ease;

}
#header.show{
  top: -1000px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: var(--hover_color)
}
#header a{
  text-decoration: none;
  color: var(--primary_color);
}
#header a:hover{
  color: var(--hover_color);
}
/* header-top */
.header-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.header-top img{
  height: 80px;
  width: 80px;
}
.header-top .btn-search .search{
  width: 400px;
  height: 50px;
  border: 0 white;
  border-radius: 10px ;
  background-color: #D2BEB4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header-top .btn-search{
  position: relative;
}
.header-top .btn-search .ti-search {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  border:  none;
}
.header-top .btn-search .ti-search:hover{
  color: var(--hover_color);
}
.btn-search input {

  padding: 0 60px 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.right-header-top{
  display: flex;
  /* justify-content: center; */
  align-items: center;

}
.right-header-top div{
  margin: 0 30px;
  width: max-content;

}


.right-header-top li a{
  padding: 0 24px;
  line-height: 46px;
  display: block;
}


.right-header-top .account{
  position: relative;
}
.right-header-top .account .sub-nav{
  display: none;
  min-width: 240px;
  position: absolute;
  top:100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 5px;
  z-index: 1;
  padding-left: 0;
}
.right-header-top .account:hover .sub-nav{
  display: block;
}
.body__1{
  margin: 10px;

}
.orders{
  color: #D2BEB4;
  font-size: 50px;
  font-weight: bold;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
 margin-top: 10px;
 border-radius: 10px;
 border-color: #6B4932;
 width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  margin-top: 10px;
}
/* body--2 */
.body__2{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 5px;
  z-index: 1;
  padding-left: 0;
  border-color: #cfa897;
}
.example-icon{
  background-color:#D2BEB4;
  border: 2px solid #D2BEB4;
  border-radius: 5px;
  margin-top: 10px;
  width: 50%;
}
.bu_hover hover{
  border-color: #ac9a92;
  background-color: #cfa897;
}
.order_status{
  font-size: 1.6rem;
  color: white;
  font-family: quicksand;
  text-align: center;
}
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__action--primary{
  background-color: #D2BEB4;

}

.body__21{
  display: flex;
}
hr {
  border: none; /* loại bỏ đường viền */
  border-top: 3px solid #D2BEB4; /* thêm đường viền trên */
  margin: 20px 0; /* tạo khoảng cách giữa các phần tử */
}
table th{
  color: #6B4932;
  font-size: 1.6rem;
  font-family: quicksand;
}
table td{
  border: none;
  font-size: 1.3rem;
  font-family: quicksand;
  font-weight: bold;
}
.body__3{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 5px;
  z-index: 1;
  padding-left: 0;
  border-color: #cfa897;
  margin-top: 20px;
  overflow-y: hidden;
}
.customer{
  text-align: left;
  margin-left: 10%;
  font-family: quicksand;
  margin-top:1% ;
}
table{
  color: #6B4932;
  background-color: #ffffff;
  font-size: 20px;
  font-family: quicksand;
  border: 2px solid #d2beb4;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;

}
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
  background-color: #d2beb4;
}
