<div class="container w-100" style="padding-top: 30px;">

  <div class=" title--themsp">
    <mat-icon >add</mat-icon>
    Chỉnh sửa coupon
    </div>
    <div  class="table-container" style=" padding-right: 40px; margin-top: 30px;">
    <table class="table table-hover "  >
    <thead>
    <tr >
    <th style="border-top-left-radius: 10px;  word-wrap: break-word;">Thuộc tính</th>
    <th style="border-top-right-radius: 10px; text-align: center;  padding-right: 20px;">Nội dung</th>
    </tr>
    </thead>
    <tbody>


      <tr>
        <td style="text-align: left; padding-left: 20px; font-weight: bold;">Mã coupon</td>
        <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
          <input  type="text" #subject="ngModel"  [(ngModel)]="coupon.MaCoupon" style=" width: 99%;" class="input_border">
        </td>
      </tr>
      <tr >
        <td style="text-align: left; padding-left: 20px; font-weight: bold;">Ảnh</td>
        <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; ">

          <input style="padding-left: 2%;" type="file" class="file-input"  name="Hinhanh" id="Hinhanh" multiple (change)="onFileSelected($event,coupon)">
          <div style="flex-basis: 50%; padding: 5px;" *ngFor="let image of coupon.Hinhanh; let i = index;">
            <img  style="max-width: 248px; max-height: 328px;" src="{{image}}" alt="">
            <mat-icon  (click)="onDeleteImage(i)" class="icon"> cancel_presentation</mat-icon>
          </div>
        </td>
      </tr>

        <tr>
          <td style="text-align: left; padding-left: 20px; font-weight: bold;">Loại coupon</td>
          <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
            <select type="text" class="input_border"  #subject="ngModel"   [(ngModel)]="coupon.TenCoupon">
              <option value="" disabled selected >-- Chọn Loại coupon --</option>
              <option *ngFor="let t of types" >{{t}}</option>
            </select>
        </tr>

        <tr>
          <td style="text-align: left; padding-left: 20px; font-weight: bold;">Giá trị giảm</td>
          <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;padding-left: 10px;">
            <input type="number" min="0"  #subject="ngModel"   [(ngModel)]="coupon.Giatrigiam" style=" width: 99%; " class="input_border">
          </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;">Số lượng</td>
            <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; padding-left: 10px;">
              <input type="number" min="0" #subject="ngModel"   [(ngModel)]="coupon.Soluong" style=" width: 99%; " class="input_border">
            </td>
          </tr>


              <tr>
                <td style="text-align: left; padding-left: 20px; font-weight: bold;">Nội dung</td>
                <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;padding-left: 10px;">
                  <ckeditor  #subject="ngModel" debounce="500"  [(ngModel)]="coupon.Noidung" [editor]="Editor"/>
                </td>
                </tr>

                <tr>
                  <td style="text-align: left; padding-left: 20px;font-weight: bold;">Thời gian áp dụng</td>
                  <td style="border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;padding-left: 10px;">
                    <mat-form-field class="example-form-field " style="max-width: 300px;">
                      <mat-label> Chọn khoảng thời gian </mat-label>
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Ngày đầu"  [(ngModel)]="coupon.Ngaybatdau">
                        <input matEndDate formControlName="end" placeholder="Ngày cuối"   [(ngModel)]="coupon.Ngayketthuc" >
                      </mat-date-range-input>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </td>
                  </tr>


      </tbody>
    </table>
    </div>
    <div align="right">
    <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;"  (click)="putCoupon()"> <span> <mat-icon>save</mat-icon> </span> <span style="padding-left: 30px;"> Lưu </span></button>
    <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;" (click)="toMainCouponPage()"  > <span> <mat-icon>arrow_back</mat-icon> </span> <span style="padding-left: 30px;"> Về trang chủ Coupon</span></button>
  </div>

</div>
