<div class="container">
  <h1>THÔNG TIN KHÁCH HÀNG</h1>
  <div class="frame">
    <div class="row">
      <img src="" alt="">
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">ID:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user._id}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Họ tên:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.name}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Tên đăng nhập:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.username}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Ngày sinh:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.dob}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Giới tính:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.gender}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Email:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.email}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">Số điện thoại:</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">{{user.phoneNumber}}</div>
    </div>
    <div class="row">
    <button class="mat-stroked-button" routerLink="/customer-list">Back</button>
    </div>
  </div>
</div>
