@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.container{
  width: 70%;
  margin-top: 10px;
  /* font-family: Quicksand; */
  /* font-weight: bold; */
  color: #686361;
  font-size: 18px;
}
h1{
  text-align: center;
  color:  #D2BEB4;
  font-weight: bold;

}
.frame{
  border:  #D2BEB4;
  border-style:solid;
  border-radius: 20px;
}

.title{
  color: #686361;
  font-weight: bold;
}

.row{
  padding: 20px;
}
.col-sm-6{
  color: #686361
}

button {
  position:relative;
  left: 45%;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: #686361;
  /* transform: translateX(-50%); */
}
