
<ng-container *ngIf="isLoggedIn==true">
  <mat-drawer-container  style="height: 100%;  overflow-y: auto;">
    <mat-drawer #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) ? isDrawerOpen : true"  (closed)="closeDrawer()" class="left">
    <div class="left-top">
      <img src="./assets/Img/Gap-Logo.webp" class="logo">
    </div>
    <div class="left-content">
      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a (click)="toAdminList()" class="item font">Quản lý Admin</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toAdminList()" class="item">Danh sách Admin</a>
              </div>
              <div class="list">
                <a (click)="toAddAdmin()" class="item">Thêm tài khoản Admin</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a (click)="toCustomerList()" class="item font">Quản lý khách hàng</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toCustomerList()" class="item">Danh sách tài khoản khách hàng</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a (click)="toBlogList()" class="item font">Quản lý Blog</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toBlogList()" class="item">Danh sách Blog</a>
              </div>
              <div class="list">
                <a (click)="toAddBlog()" class="item">Tạo Blog</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a class="item font">Quản lý khuyến mãi</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toPromotion()" class="item">Chương trình khuyến mãi</a>
              </div>
              <div class="list">
                <a (click)="toNewPromotion()" class="item">Tạo chương trình khuyến mãi</a>
              </div>
              <div class="list">
                <a (click)="toCoupons()" class="item">Mã giảm giá</a>
              </div>
              <div class="list">
                <a (click)="toNewCoupons()" class="item">Tạo mã giảm giá</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a (click)="toAdminOrder()" class="item font">Quản lý đơn hàng</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toAdminOrder()" class="item">Danh sách đơn hàng</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row-style">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a (click)="toAddProduct()" class="item font">Quản lý sản phẩm</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="list">
                <a (click)="toAddProduct()" class="item">Danh sách sản phẩm</a>
              </div>
              <div class="list">
                <a (click)="toNewProduct()" class="item">Tạo sản phẩm</a>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </mat-drawer>

  <mat-drawer-content>
  <button *ngIf="(isHandset$ | async) && !isDrawerOpen" (click)="openDrawer()" class="icon"><mat-icon>menu</mat-icon></button>
  <router-outlet></router-outlet>
  </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
<ng-container *ngIf="isLoggedIn==false" >
  <app-admin-login ></app-admin-login>
</ng-container>




