<div class="body">
  <h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>Bạn có chắc chắn muốn xóa?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onConfirmClick()">Yes</button>
</div>
</div>

<style>
  h1,div,p{
    text-align: center;
  }
  h1{
    color: #6B4932;
    font-weight: 700;
  }
  .body{
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 35%;
    background-color: white;
    text-align: center;
    width: 600px;
    height: 150px;
    border: 1px solid black;
    font-size: 1.6rem;
    margin-top: 20%;
  }
  button{
  border-radius: 5px;
  background-color: initial;
  font-weight: 500;
  margin-left: auto;
  border: 1px solid  #6B4932;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
  min-width: 40px;
}
button:hover{
  background-color: #6B4932;
  color: white;
}
button:active{
  opacity: 0.7;
  background-color:  #b8a898;
}
</style>
