
<div id="header" >
      <div align="center">
        <div  >
          <span class="col title--sanpham" >
           Sản phẩm
          </span>
          <input type="text" id="searchProduct" style="font-size: 2rem;"   [(ngModel)]="searchProduct"   (ngModelChange)="filterProducts()"class="left__search--bar"  >
            <button class="left_button-search" (click)="onClear()" (click)="showContent('content1')" >   <mat-icon class="left_icon-search"> backspace</mat-icon> </button>
    </div>
  </div>
</div>
<p>{{errMessage}}</p>

<div class="container w-100" style="padding-top: 20px; padding-left: 50px;" align="right">
  <ng-container [ngSwitch]="activeContent">
    <div *ngSwitchCase="'content1'">
    <div style="padding-top: 20px;">

      <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;" (click)="toNewProductPage()"  > <span> <mat-icon>library_add</mat-icon> </span> <span style="padding-left: 30px;">  Thêm sản phẩm </span></button>
</div>



<!-- DANH SACH TAT CA SP -->
<div class="table-container" style=" padding-right: 40px;">
  <table align="right" class="table-hover"  >
    <thead>
      <tr>
        <th>Mã </th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm </th>
        <th>Loại sản phẩm</th>
        <th style="border-top-right-radius: 10px;">Tùy chỉnh</th>
      </tr>
    </thead>

    <tbody>
         <tr *ngFor="let product of filteredProducts || products">
        <td style="word-wrap: break-word; max-width: 10px;" >{{product.MaSP}}</td>
        <td style="word-wrap: break-word; max-width: 75px;" >{{product.TenSP}}</td>
        <td style="word-wrap: break-word; max-width: 50px;">{{product.Price.toLocaleString('vi-VN')}}</td>
        <td style="word-wrap: break-word; max-width: 40px;">{{product.LoaiSP}}</td>
        <td style="word-wrap: break-word; max-width: 50px;">
          <span style="padding-right: 10px;" (click)="showContent('content3')"><mat-icon class="icon" (click)="showProductDetail(product)" >remove_red_eye</mat-icon>  </span>
          <span style="padding-right: 10px;" (click)="toUpdateProductPage(product)"><mat-icon class="icon">edit</mat-icon> </span>
          <span style="padding-right: 10px;" > <mat-icon class="icon" (click)="deleteProduct(product._id)">delete</mat-icon> </span></td>
      </tr>
    </tbody>

  </table>
</div>
</div>
<br>



<!-- HIEN THI chi tiet  -->
<div *ngSwitchCase="'detailproduct'">


  <div *ngIf="product">
    <div class="title--themsp">
      <mat-icon>remove_red_eye</mat-icon>
      Chi tiết sản phẩm
    </div>
    <div class="table-container" style="padding-right: 40px; margin-top: 30px;">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th style="border-top-left-radius: 10px; word-wrap: break-word;"> Thuộc tính</th>
            <th style="border-top-right-radius: 10px; text-align: center; padding-right: 20px;"  > Nội dung </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;"> Ảnh </td>
            <td  style=" border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px;  " >

              <div style="display: flex; flex-wrap: wrap;">
                <div style="flex-basis: 50%; padding: 1% 1% 1% 5%;" *ngFor="let image of product.Hinhanh">
                  <img  style="max-width: 217px; max-height: 287px; text-align: center;" src='{{image}}' alt="" >
                </div>
              </div>



            </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;"  > Mã sản phẩm </td>
            <td style=" border-top-right-radius: 10px;  text-align: left; word-wrap: break-word;  max-width: 280px;" > {{ product.MaSP }}</td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;" > Tên sản phẩm </td>
            <td style="  border-top-right-radius: 10px; text-align: left;  word-wrap: break-word;max-width: 280px;">{{ product.TenSP }}</td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;" > Loại sản phẩm </td>
            <td style=" border-top-right-radius: 10px; text-align: left; word-wrap: break-word; max-width: 280px; " > {{ product.LoaiSP }}</td>
          </tr>

          <tr>
             <td style="text-align: left; padding-left: 20px; font-weight: bold;" >  Thương hiệu </td>
            <td style=" border-top-right-radius: 10px;  text-align: left;  word-wrap: break-word; max-width: 280px; " > {{ product.Hang }} </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;"  > Giảm giá </td>
            <td style=" border-top-right-radius: 10px; text-align: left;word-wrap: break-word;max-width: 280px;">{{ product.Discount }} </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px;font-weight: bold;"> Giá</td>
            <td style="border-top-right-radius: 10px;text-align: left;word-wrap: break-word;max-width: 280px;">{{ product.Price.toLocaleString('vi-VN') }} </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px; font-weight: bold;"> Mô tả </td>
            <td style="border-top-right-radius: 10px; text-align: left;word-wrap: break-word;max-width: 280px;">
            <ul style="list-style-type: none; ">
              <li innerHTML={{product.Mota}} ></li>
            </ul>
            </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px;font-weight: bold;">
              Số lượng </td>
            <td style="border-top-right-radius: 10px;text-align: left; word-wrap: break-word; max-width: 280px; "> {{ product.Soluong }} </td>
          </tr>

          <tr>
            <td style="text-align: left; padding-left: 20px;font-weight: bold;" > Size </td>
            <td style=" border-top-right-radius: 10px;  text-align: left; word-wrap: break-word; max-width: 280px; " > {{ product.Size }}  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="button--sp" style="margin-bottom: 10px; margin-right: 40px;"(click)="showContent('content1')"  > <span> <mat-icon>arrow_back</mat-icon> </span> <span style="padding-left: 30px;"> Về trang chủ sản phẩm </span></button>
</div>

</ng-container>
</div>

















