<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-*********" crossorigin="anonymous">

<div id="header">
  <div class="header-top">
     <div class="btn-search" >
      <div class="d-flex">
        <button class="btn btn-outline-success button__search" onclick="re_search()"><i class="fa-solid fa-angles-left" style="color: #ffffff;" width="30px" height="30px"></i></button>
        <input class="form-control me-2 search" id="search" placeholder="Search for customer" aria-label="Search">
        <button class="btn btn-outline-success button__search" onclick="re_search()"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" color="white"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"></path></svg></button>
      <!-- </form> -->
      </div>
     </div>
      <div class="right-header-top">
          <div class="account">
              <a href="#" >
                <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 32 32" color="#D2BEB4"><path fill="currentColor" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5Z"></path><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2Zm7.992 22.926A5.002 5.002 0 0 0 19 20h-6a5.002 5.002 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0Z"></path></svg>
                 <span style="font-size:13px">Tiếng Việt</span>
              </a>

          </div>
          <div class="cart">
              <a href="#">
                <i style="font-size: 30px;color: #D2BEB4;" class="fa-solid fa-bell"></i>
                  </a>
          </div>
          <div class="phone">
              <a href="#">
                <i style="font-size: 30px;color: #D2BEB4;" class="fa-solid fa-envelope-open-text"></i>
              </a>
          </div>
      </div>
  </div>

</div>
<div class="body container text-center">
    <div class="row body__1">
      <div class="col orders" >Danh sách Khách hàng</div>

      <div class=" col date--range">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
        <mat-hint></mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

    </div>

  </div>
  <div class="row body__2">
    <mat-toolbar>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="width: 5%;" [matMenuTriggerFor]="belowMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Open</button>
        <button mat-menu-item>Closed</button>
        <button mat-menu-item>All Orders</button>
      </mat-menu> -->
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Active"><a href="#"></a></mat-tab>
        <mat-tab label="Inactive"><a href="#"></a></mat-tab>
      </mat-tab-group>

      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon style="margin-top: 2px;">filter</mat-icon>
        <span style="font-size: 13px;">Lọc</span>
      </button>
      <!-- <button mat-icon-button class="example-icon favorite-icon attach" aria-label="Example icon-button with heart icon">
        <mat-icon style="margin-top: 2px;">link</mat-icon>
        <span style="font-size: 13px;">Attach</span>
      </button> -->
    </mat-toolbar>
  </div>
</div>
<div class="row body__3">
<table class="table table-hover ">
  <thead>
  <tr>
  <th>ID</th>
  <th>Tên khách hàng</th>
  <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>1</td>
  <td>Ty Thy</td>
  <td>
    <button class="inactive">Vô hiệu hóa</button>
  </td>
  </tr>
  </tbody>
  </table>
</div>
